<!DOCTYPE html>
<html>
  <head>
    <title>About | Dead Neuron</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.svg" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/about.css" />
    <link rel="stylesheet" href="/static/prism.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/rust.min.js"></script>

<!--     <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&amp;display=block"
    /> -->
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
  </head>
  <body>
    <div class="home">
      <header>
        <div class="wrapper">
          <div class="container">
            {% include 'logo.html' %}
            <nav>
              <a href="/about">About</a>
              <a href="/models">Models</a>
              <a href="/notebooks">Notebooks</a>
              <a href="/publications">Publications</a>
            </nav>
          </div>
        </div>
      </header>
      <main>
        <div class="hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h1>
              Learn how to <br />
              Build Better <br />
              Neural Networks
            </h1>
            <p>
              Welcome to Dead Neuron! We are sharing key insights, tips, and tricks for making the most of your machine learning models.
            </p>
          </div>
        </div>
        <div class="intro">
          <div class="wrapper">
            <div class="column-wrapper">
              <div class="column">
                <div class="icon"><img src="/static/gpu.svg" /></div>
                <h2>Faster Models</h2>
                <p>
                  Optimizing network architecture design to improve training and inference times. 
                </p>
              </div>
              <div class="column">
                <div class="icon">
                  <img src="/static/distribution.svg" />
                </div>
                <h2>Smarter Models</h2>
                <p>
                  Developing training and tuning techniques to improve generalization and accuracy. 
                </p>
              </div>
              <div class="column">
                <div class="icon"><img src="/static/code.svg" /></div>
                <h2>Smaller Models</h2>
                <p>
                  Pruning, quantizing, and distilling large models into smaller sizes to reduce computational cost.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="personal hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h1>Our Story</h1>
            <p>
              I am Dr. Tim Whitaker and I am a research scientist who is deeply engaged in exploring the evolving paradigms of artificial intelligence and machine learning. I recently completed my PhD in Computer Science at Colorado State University where I conducted novel research on a variety of topics related to neural network optimization. Deep learning has absolutely exploded over the last several years and I wanted to create a place to share interesting and important insights that I've found throughout my journey. I hope that Dead Neuron can serve as a valuable resource for aspiring machine learning practitioners to explore some of the lesser known implementation details that help to maximize performance.
            </p>
          </div>
        </div>

        <div class="code">
          <div class="wrapper">
            <div>
              <pre><code class="language-rust">use burn::{
    module::Module,
    nn::{
        conv::{Conv2d, Conv2dConfig},
        pool::{AdaptiveAvgPool2d, AdaptiveAvgPool2dConfig},
        Linear, LinearConfig, ReLU,
    },
    tensor::{backend::Backend, Tensor},
};

#[derive(Module)]
pub struct Net&lt;B: Backend&gt; {
    conv1: Conv2d&lt;B&gt;,
    conv2: Conv2d&lt;B&gt;,
    pool: AdaptiveAvgPool2d,
    fc1: Linear&lt;B&gt;,
    fc2: Linear&lt;B&gt;,
    activation: ReLU,
}

impl&lt;B: Backend&gt; Net&lt;B&gt; {
    pub fn new(num_outputs: usize, device: &amp;B::Device) -&gt; Self {
        Self {
            conv1: Conv2dConfig::new([3, 8], [3, 3]).init(device),
            conv2: Conv2dConfig::new([8, 16], [3, 3]).init(device),
            pool: AdaptiveAvgPool2dConfig::new([8, 8]).init(),
            fc1: LinearConfig::new(16*8*8, 256).init(device),
            fc2: LinearConfig::new(256, num_outputs).init(device),
            activation: ReLU::new(),
        }
    }

    pub fn forward(&amp;self, x: Tensor&lt;B, 4&gt;) -&gt; Tensor&lt;B, 2&gt; {
        let x = self.conv1.forward(x);
        let x = self.activation.forward(x);
        let x = self.conv2.forward(x);
        let x = self.activation.forward(x);
        let x = self.pool.forward(x);
        let x = x.reshape([0, -1]);
        let x = self.fc1.forward(x);
        let x = self.activation.forward(x);
        self.fc2.forward(x)
    }
}</code></pre>
            </div>

            <div>
              <h1>Creating For Next Generation Deep Learning Frameworks</h1>
              <p>
                I am a polyglot at heart who loves to explore new programming languages and paradigms. While Python has long dominated the machine learning space, there is a lot of potential for new frameworks to enable better and more interesting ways to build performant models. <a href="https://burn.dev">Burn</a> is one new promising framework in Rust that offers an elegant type safe approach that emphasizes performance, flexibility, and portability for high performance tensor computing.
              </p>
              <p>
                This framework is a pleasure to develop in and I couldn't be more excited about the opportunities for it overcome some of the pain points of deploying models with established Python frameworks. I am excited to build and contribute to this community so I am starting to work on a model zoo that includes important, impactful, and exotic neural network architectures through history. The goal is to create clean and extensible code that is easy to plug into your own projects. Check out our repo on github to get a feel for this new project.
              </p>
              <p>
                <a class="button" href="https://github.com/deadneuron/model-catalog">Model Zoo</a>
              </p>
            </div>

          </div>
        </div>

<!--         <div class="notebooks">
          <div class="wrapper">
            <h1>Disseminating Cutting Edge Research Ideas</h1>
            <p>Machine Learning research advances at an incredible pace. Thousands of new papers are published every year and it can be difficult to keep up with the latest tips and tricks for improving model performance.</p>
            <p>Our goal is to make deep learning research more accessible.</p>
          </div>
        </div> -->


        <!-- <div class="philosophy hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h1>Dead Neurons</h1>
            <p>
              Neural network ensembles have been effectively used to improve
              generalization by combining the predictions of multiple
              independently trained models. However, the growing scale and
              complexity of deep neural networks have led to these methods
              becoming prohibitively expensive and time consuming to implement.
              Low-cost ensemble methods have become increasingly important as
              they can alleviate the need to train multiple models from scratch
              while retaining the generalization benefits that...
            </p>
          </div>
        </div> -->

        <!--         <div class="gallery">
          <div class="item">
            <img src="/static/talk.jpg" alt="" />
          </div>
          <div class="item">
            <img src="/static/highball.jpg" alt="" />
          </div>
          <div class="item">
            <img src="/static/ceremony.jpg" alt="" />
          </div>
          <div class="item">
            <img src="/static/midnight.jpg" alt="" />
          </div>
          <div class="item">
            <img src="/static/nice-bridge.jpg" alt="" />
          </div>
          <div class="item">
            <img src="/static/pimpjuice.jpg" alt="" />
          </div>
          <div class="item">
            <img src="/static/evilution.jpg" alt="" />
          </div>
        </div> -->
        <!-- <div class="professional">
          <div class="wrapper">
            <div class="education">
              <div class="main-header">
                <h1>Education</h1>
                <div>
                  <img src="/static/chico-seal.png" /><img
                    src="/static/colo-seal.png"
                  />
                </div>
              </div>
              <div class="item">
                <div class="header">
                  <p>Doctor of Philosophy in Computer Science</p>
                  <span>December 2023</span>
                </div>
                <p>Colorado State University</p>
                <p>Dissertation: Subnetwork Ensembles</p>
                <p>
                  Committee:
                  <a href="https://www.cs.colostate.edu/~whitley/"
                    >Darrell Whitley</a
                  >,
                  <a href="https://www.cs.colostate.edu/~anderson/wp/"
                    >Charles Anderson</a
                  >,
                  <a href="https://www.math.colostate.edu/~kirby/"
                    >Michael Kirby</a
                  >,
                  <a href="https://www.nikhilkrishnaswamy.com/"
                    >Nikhil Krishnaswamy</a
                  >
                </p>
              </div>
              <div class="item">
                <div class="header">
                  <p>Master of Science in Computer Science</p>
                  <span>May 2021</span>
                </div>
                <p>Colorado State University</p>
                <p>
                  Thesis: Reinforcement Learning with Sparse Reconfigurable
                  Networks
                </p>
                <p>
                  Committee:
                  <a href="https://www.cs.colostate.edu/~whitley/"
                    >Darrell Whitley</a
                  >,
                  <a href="https://www.cs.colostate.edu/~anderson/wp/"
                    >Charles Anderson</a
                  >,
                  <a href="https://www.math.colostate.edu/~kirby/"
                    >Michael Kirby</a
                  >
                </p>
              </div>
              <div class="item">
                <div class="header">
                  <p>Bachelor of Science in Computer Science</p>
                  <span>May 2015</span>
                </div>
                <p>California State University, Chico</p>
                <p>Capstone: Real Time Web Performance Analysis</p>
                <p>
                  Advisor:
                  <a href="https://www.ecst.csuchico.edu/~trhenry/"
                    >Tyson Henry</a
                  >
                </p>
              </div>
              <div class="item">
                <h3>Relevant Coursework</h3>
                <p>
                  Artificial Intelligence, Machine Learning, Embedded Machine
                  Learning, Image Computation, Natural Language Processing,
                  Quantum Computing, High Performance Computing, Software
                  Engineering, System Architecture, Algorithmic Language
                  Compilers, Computational Theory, Stochastic Processes
                </p>
              </div>
              <div class="item">
                <h3>Associations and Honors</h3>
                <ul>
                  <li>
                    Recipient of The Artificial Intelligence and Evolutionary
                    Computation Fellowship at Colorado State University
                  </li>
                  <li>
                    Presenter and Technical Committee Member at international
                    conferences including: AAAI, IJCNN, and GECCO
                  </li>
                  <li>Session Chair for Neural Network Models at IJCNN 2023</li>
                  <li>Member of IEEE</li>
                  <li>Member of ACM</li>
                  <li>Member of INNS</li>
                </ul>
              </div>
            </div>
            <div class="experience">
              <div class="main-header"><h1>Experience</h1></div>
              <div class="item">
                <div class="header">
                  <p>Graduate Researcher</p>
                  <span>2019-Current</span>
                </div>
                <p>Colorado State University</p>
                <ul>
                  <li>
                    Designed, implemented, and collaborated on a wide variety of
                    experiments grounded in the modern deep learning landscape.
                    Includes novel network architectures, optimization
                    algorithms, and theoretical analysis for applications in
                    computer vision, reinforcement learning, and natural
                    language processing.
                  </li>
                  <li>
                    Led, mentored, and assisted junior graduate students working
                    in The Artificial Intelligence and Evolutionary Computation
                    Lab.
                  </li>
                  <li>
                    First authored several papers accepted to prominent
                    international conferences.
                  </li>
                  <li>
                    Funded by NSF Grant 1908866: “Sparse reconfigurable
                    artificial neural networks: optimal neuron selection and
                    generalization.”
                  </li>
                </ul>
              </div>
              <div class="item">
                <div class="header">
                  <p>Software Engineer</p>
                  <span>2015-2019</span>
                </div>
                <p>Kettle LLC. Design and Development Firm</p>
                <ul>
                  <li>
                    Designed, developed, and maintained web applications and
                    ecommerce sites for Google, Disney, Namecheap, Boosted
                    Boards, LifeBeam, Peleton, MyxFitness, and Show Imaging.
                  </li>
                  <li>
                    Led and managed a team overseeing the migration of a large
                    API management project to Google’s infrastructure.
                  </li>
                  <li>
                    Day of coordination and management for a real time
                    interactive feed at Disney’s 2016 Upfront event in Anaheim,
                    California.
                  </li>
                  <li>
                    Implemented a wide variety of both backend and frontend
                    applications across many tech stacks including: React,
                    Angular, Vue, Django, Rails, Shopify, and Wordpress.
                  </li>
                </ul>
              </div>
              <div class="item">
                <div class="header">
                  <p>Web Developer</p>
                  <span>2012-2013</span>
                </div>
                <p>Navigation North Learning Solutions</p>
                <ul>
                  <li>
                    Maintained, troubleshooted, and implemented style guides for
                    web applications at The United States Department of
                    Educational Technology, The California Department of
                    Education, and The Smithsonian Center of Learning and
                    Digital Access.
                  </li>
                </ul>
              </div>
              <div class="item">
                <div class="header">
                  <p>Web Developer</p>
                  <span>2011-2012</span>
                </div>
                <p>Market Fleet</p>
                <ul>
                  <li>
                    Managed the design and development of a Magento ecommerce
                    store and the integration of a custom marketplace
                    widget/plugin.
                  </li>
                </ul>
              </div>
            </div>
            <div class="publications">
              <div class="main-header"><h1>Publications</h1></div>
              <div class="item">
                <div class="header">
                  <p>Prune and Tune Ensembles</p>
                  <span>February 2022</span>
                </div>
                <p>
                  Low-Cost Ensemble Learning with Sparse Independent Subnetworks
                </p>
                <p>AAAI 2022</p>
              </div>
              <div class="item">
                <div class="header">
                  <p>Quantum Neuron Selection</p>
                  <span>July 2022</span>
                </div>
                <p>Finding Performant Subnetworks with Quantum Algorithms</p>
                <p>GECCO 2022 Quantum Optimization Workshop</p>
              </div>
              <div class="item">
                <div class="header">
                  <p>Low-Cost Ensemble Learning</p>
                  <span>December 2022</span>
                </div>
                <p>
                  Surveying Efficient Methods for Training Multiple Deep Neural
                  Networks
                </p>
                <p>PhD Preliminary Exam</p>
              </div>
              <div class="item">
                <div class="header">
                  <p>Interpretable Diversity Analysis</p>
                  <span>June 2023</span>
                </div>
                <p>Visualizing Feature Representations in Low-Cost Ensembles</p>
                <p>IJCNN 2023</p>
              </div>
              <div class="item">
                <div class="header">
                  <p>Synaptic Stripping</p>
                  <span>June 2023</span>
                </div>
                <p>How Pruning Can Bring Dead Neurons Back To Life</p>
                <p>IJCNN 2023</p>
              </div>
              <div class="item">
                <div class="header">
                  <p>Sparse Mutation Decompositions</p>
                  <span>July 2023</span>
                </div>
                <p>Fine Tuning Deep Neural Networks with Subspace Evolution</p>
                <p>GECCO 2023</p>
              </div>
              <div class="item">
                <div class="header">
                  <p>Subnetwork Ensembles</p>
                  <span>October 2023</span>
                </div>
                <p>Theoretical Insights and Empirical Investigations</p>
                <p>PhD Dissertation</p>
              </div>
              <div class="item">
                <div class="header">
                  <p>Stochastic Subnetwork Annealing</p>
                  <span>May 2024</span>
                </div>
                <p>
                  A Regularization Technique for Fine Tuning Pruned Subnetworks
                </p>
                <p>In Review (WCCI 2024)</p>
              </div>
            </div>
          </div>
        </div> -->
        <div class="contact" id="contact">
          <div class="wrapper">
            <div class="contact-message">
              <h1>Get In Touch</h1>
              <p>
                Please feel free to reach out with any questions and/or comments. I'm always interested in hearing about fun and meaningful machine learning projects and I offer various consulting services for those who are looking to build or improve their own models. Email me and we can talk more about working together.
              </p>
            </div>
            <div class="form-container">
              <form netlify="1">
                <input placeholder="Name" name type="text" /><input
                  placeholder="Email"
                /><textarea placeholder="Message" name="message"></textarea
                ><button type="submit">Send Message</button>
              </form>
            </div>
            <div class="map-container"><div id="map"></div></div>
          </div>
        </div>
      </main>
      <footer>
        <div class="wrapper">
          <div class="column">
            <h2>Site</h2>
            <a href="/about">About</a>
            <a href="/models">Models</a>
            <a href="/notebooks">Notebooks</a>
            <a href="/research">Research</a>
          </div>
          <div class="column">
            <h2>Links</h2>
            <a href="https://arxiv-sanity-lite.com">Arxiv Sanity</a>
            <a href="https://paperswithcode.com">Papers With Code</a>
            <a href="https://midjourney.com">Midjourney</a>
            <a href="https://openai.com">OpenAI</a>
          </div>
          <div class="column">
            <h2>Self</h2>
            <a href="https://github.com/tjwhitaker">Github</a>
            <a href="https://scholar.google.com/citations?user=Rb-16TYAAAAJ&hl=en">Scholar</a>
            <a href="https://orcid.org/0000-0003-3792-3901">Orcid</a>
          </div>
        </div>
      </footer>
      <script>hljs.highlightAll();</script>
      <script>
        mapboxgl.accessToken =
          "pk.eyJ1IjoidG13aHRrciIsImEiOiJja2x2NzdpaW0wNXRnMndwOGszNTc3aWd5In0.LvJ2znCQ_1v9a86fxUhQ2A"
        var map = new mapboxgl.Map({
          container: "map", // container id
          style: "mapbox://styles/mapbox/streets-v12", // style URL
          center: [-105.08338969999998, 40.57471313740658],
          zoom: 11, // starting zoom
        })
      </script>
    </div>
  </body>
</html>
