<!DOCTYPE html>
<html>
  <head>
    <title>About | Dead Neuron</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.svg" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/about.css" />
    <link rel="stylesheet" href="/static/prism.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/rust.min.js"></script>

<!--     <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&amp;display=block"
    /> -->
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
  </head>
  <body>
    <div class="home">
      <header>
        <div class="wrapper">
          <div class="container">
            {% include 'logo.html' %}
            <nav>
              <!-- <a href="/about">About</a> -->
              <a href="/gallery">Gallery</a>
              <a href="/models">Models</a>
              <a href="/notebooks">Notebooks</a>
              <a href="/publications">Publications</a>
              <a href="/shop">Shop</a>
            </nav>
          </div>
        </div>
      </header>
      <main>
        <div class="hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h2>Our story</h2>
            <h1>
              Learn how to <br />
              Build Better <br />
              Neural Networks
            </h1>
            <p>
              Welcome to Dead Neuron! We are sharing key insights, tips, and tricks for making the most of your machine learning models.
            </p>
          </div>
        </div>
        <div class="intro">
          <div class="wrapper">
            <div class="column-wrapper">
              <div class="column">
                <div class="icon"><img src="/static/gpu.svg" /></div>
                <h2>Faster Models</h2>
                <p>
                  Optimizing network architecture design to improve training and inference times. 
                </p>
              </div>
              <div class="column">
                <div class="icon">
                  <img src="/static/distribution.svg" />
                </div>
                <h2>Smarter Models</h2>
                <p>
                  Developing training and tuning techniques to improve generalization and accuracy. 
                </p>
              </div>
              <div class="column">
                <div class="icon"><img src="/static/code.svg" /></div>
                <h2>Smaller Models</h2>
                <p>
                  Pruning, quantizing, and distilling large models into smaller sizes to reduce computational cost.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="personal hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h1>Our Story</h1>
            <p>
              I am Dr. Tim Whitaker and I am a research scientist who is deeply engaged in exploring the evolving paradigms of artificial intelligence and machine learning. I recently completed my PhD in Computer Science at Colorado State University where I conducted novel research on a variety of topics related to neural network optimization. Deep learning has absolutely exploded over the last several years and I wanted to create a place to share interesting and important insights that I've found throughout my journey. I hope that Dead Neuron can serve as a valuable resource for aspiring machine learning practitioners to explore some of the lesser known implementation details that help to maximize performance.
            </p>
          </div>
        </div>

        <div class="code">
          <div class="wrapper">
            <div>
              <pre><code class="language-rust">use burn::{
    module::Module,
    nn::{
        conv::{Conv2d, Conv2dConfig},
        pool::{AdaptiveAvgPool2d, AdaptiveAvgPool2dConfig},
        Linear, LinearConfig, ReLU,
    },
    tensor::{backend::Backend, Tensor},
};

#[derive(Module)]
pub struct Net&lt;B: Backend&gt; {
    conv1: Conv2d&lt;B&gt;,
    conv2: Conv2d&lt;B&gt;,
    pool: AdaptiveAvgPool2d,
    fc1: Linear&lt;B&gt;,
    fc2: Linear&lt;B&gt;,
    activation: ReLU,
}

impl&lt;B: Backend&gt; Net&lt;B&gt; {
    pub fn new(num_outputs: usize, device: &amp;B::Device) -&gt; Self {
        Self {
            conv1: Conv2dConfig::new([3, 8], [3, 3]).init(device),
            conv2: Conv2dConfig::new([8, 16], [3, 3]).init(device),
            pool: AdaptiveAvgPool2dConfig::new([8, 8]).init(),
            fc1: LinearConfig::new(16*8*8, 256).init(device),
            fc2: LinearConfig::new(256, num_outputs).init(device),
            activation: ReLU::new(),
        }
    }

    pub fn forward(&amp;self, x: Tensor&lt;B, 4&gt;) -&gt; Tensor&lt;B, 2&gt; {
        let x = self.conv1.forward(x);
        let x = self.activation.forward(x);
        let x = self.conv2.forward(x);
        let x = self.activation.forward(x);
        let x = self.pool.forward(x);
        let x = x.reshape([0, -1]);
        let x = self.fc1.forward(x);
        let x = self.activation.forward(x);
        self.fc2.forward(x)
    }
}</code></pre>
            </div>

            <div>
              <h1>Creating For Next Generation Deep Learning Frameworks</h1>
              <p>
                I am a polyglot at heart who loves to explore new programming languages and paradigms. While Python has long dominated the machine learning space, there is a lot of potential for new frameworks to enable better and more interesting ways to build performant models. <a href="https://burn.dev">Burn</a> is one new promising framework in Rust that offers an elegant type safe approach that emphasizes performance, flexibility, and portability for high performance tensor computing.
              </p>
              <p>
                This framework is a pleasure to develop in and I couldn't be more excited about the opportunities for it overcome some of the pain points of deploying models with established Python frameworks. I am excited to build and contribute to this community so I am starting to work on a model zoo that includes important, impactful, and exotic neural network architectures through history. The goal is to create clean and extensible code that is easy to plug into your own projects. Check out our repo on github to get a feel for this new project.
              </p>
              <p>
                <a class="button" href="https://github.com/deadneuron/model-catalog">Model Zoo</a>
              </p>
            </div>

          </div>
        </div>

        <div class="contact" id="contact">
          <div class="wrapper">
            <div class="contact-message">
              <h1>Get In Touch</h1>
              <p>
                Please feel free to reach out with any questions and/or comments. I'm always interested in hearing about fun and meaningful machine learning projects and I offer various consulting services for those who are looking to build or improve their own models. Email me and we can talk more about working together.
              </p>
            </div>
            <div class="form-container">
              <form netlify="1">
                <input placeholder="Name" name type="text" /><input
                  placeholder="Email"
                /><textarea placeholder="Message" name="message"></textarea
                ><button type="submit">Send Message</button>
              </form>
            </div>
            <div class="map-container"><div id="map"></div></div>
          </div>
        </div>
      </main>
      <footer>
        <div class="wrapper">
          <div class="column">
            <h2>Site</h2>
            <a href="/about">About</a>
            <a href="/models">Models</a>
            <a href="/notebooks">Notebooks</a>
            <a href="/research">Research</a>
          </div>
          <div class="column">
            <h2>Links</h2>
            <a href="https://arxiv-sanity-lite.com">Arxiv Sanity</a>
            <a href="https://paperswithcode.com">Papers With Code</a>
            <a href="https://midjourney.com">Midjourney</a>
            <a href="https://openai.com">OpenAI</a>
          </div>
          <div class="column">
            <h2>Self</h2>
            <a href="https://github.com/tjwhitaker">Github</a>
            <a href="https://scholar.google.com/citations?user=Rb-16TYAAAAJ&hl=en">Scholar</a>
            <a href="https://orcid.org/0000-0003-3792-3901">Orcid</a>
          </div>
        </div>
      </footer>
      <script>hljs.highlightAll();</script>
      <script>
        mapboxgl.accessToken =
          "pk.eyJ1IjoidG13aHRrciIsImEiOiJja2x2NzdpaW0wNXRnMndwOGszNTc3aWd5In0.LvJ2znCQ_1v9a86fxUhQ2A"
        var map = new mapboxgl.Map({
          container: "map", // container id
          style: "mapbox://styles/mapbox/streets-v12", // style URL
          center: [-105.08338969999998, 40.57471313740658],
          zoom: 11, // starting zoom
        })
      </script>
    </div>
  </body>
</html>
