<!DOCTYPE html>
<html>
  <head>
    <title>Dead Neuron</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.svg" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/home.css" />
<!--     <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&amp;display=block"
    /> -->
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
  </head>
  <body>
    <div class="home">
      <header>
        <div class="wrapper">
          <div class="container">
            <!-- <a href="/" class="logo"><img src="/static/logo.svg" /></a> -->
            {% include 'logo.html' %}
            <nav>
              <!-- <a href="/about">About</a> -->
              <a href="/architectures">Architectures</a>
              <a href="/gallery">Gallery</a>
              <a href="/notebooks">Notebooks</a>
              <a href="/publications">Publications</a>
              <a href="/shop">Shop</a>
            </nav>
          </div>
        </div>
      </header>
      <main>
        <div class="hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h2>ML Research And Development</h2>
            <h1>
              A Stochastic Gradient <br />
              Descent Into Madness
            </h1>
            <p>
              Deep learning is advancing rapidly as thousands of new papers are published every year. Exploring best practices and state of the art techniques can often feel like drinking from a fire hose. Dead Neuron serves as a concise guide to research, where our collection of notebooks distill key ideas and implementation details from influential papers to help you learn how to build better neural networks.
            </p>
          </div>
        </div>
        <div id="react-feed">
          <div class="feed wrapper">
            <div class="filters">
              <nav class="categories">
                <!-- <h2>Recent Notebooks</h2> -->
                <span class="active">All</span><span>Compression</span
                ><span>Optimization</span><span>Regularization</span
                ><span>Reinforcement</span>
              </nav>
              <nav class="mobile-categories"><h1>Recent Posts</h1></nav>
            </div>
            <div class="primary-col">
              {% for post in context[:3] %}
              <div class="post">
                <small class="date">{{ post.data.date }}</small>
                <small class="categories">{{ post.data.categories }}</small>
                <h1 class="title">{{ post.data.title }}</h1>
                <p class="description">{{ post.data.description }}</p>
                <a href="{{ post.data.slug }}">Read More</a>
              </div>
              {% endfor %}
            </div>
            <div class="secondary-col">
              {% for post in context[3:7] %}
              <div class="post">
                <small class="date">{{ post.data.date }}</small>
                <small class="categories">{{ post.data.categories }}</small>
                <h1 class="title">{{ post.data.title }}</h1>
                <p class="description">{{ post.data.description }}</p>
                <a href="{{ post.data.slug }}">Read More</a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        
        <div class="featured-paper subnetwork-ensembles">
          <div class="wrapper">
            <div>
              <h2>Featured Research</h2>
              <h1>Subnetwork Ensembles</h1>
              <p>
                Neural network ensembles have been effectively used to improve
                generalization by combining the predictions of multiple
                independently trained models. However, the growing scale and
                complexity of deep neural networks have led to these methods
                becoming prohibitively expensive and time consuming to
                implement. Low-cost ensemble methods have become increasingly
                important as they can alleviate the need to train multiple
                models from scratch while retaining the generalization benefits
                that...
              </p>
              <a
                href="https://mountainscholar.org/items/4a5ca7f3-0c31-4389-be7f-06405baa87a7"
                class="read-more"
                >Read More</a
              >
            </div>
          </div>
        </div>

<!--         <div class="personal hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h1>Our Story</h1>
            <p>
              I am Dr. Tim Whitaker and I am a research scientist who is deeply engaged in exploring the evolving paradigms of artificial intelligence and machine learning. I recently completed my PhD in Computer Science at Colorado State University where I conducted novel research on a variety of topics related to neural network optimization. Deep learning has absolutely exploded over the last several years and I wanted to create a place to share interesting and important insights that I've found throughout my journey. I hope that Dead Neuron can serve as a valuable resource for aspiring machine learning practitioners to explore some of the lesser known implementation details that help to maximize performance.
            </p>
          </div>
        </div> -->

        <div class="contact" id="contact">
          <div class="wrapper">
            <div class="contact-message">
              <h1>Get In Touch</h1>
              <p>
                Please feel free to reach out with any questions and/or comments. I'm always interested in hearing about fun and meaningful machine learning projects and I offer various consulting services for those who are looking to build or improve their own models. Email me and we can talk more about working together.
              </p>
            </div>
            <div class="form-container">
              <form netlify="1">
                <input placeholder="Name" name type="text" /><input
                  placeholder="Email"
                /><textarea placeholder="Message" name="message"></textarea
                ><button type="submit">Send Message</button>
              </form>
            </div>
            <div class="map-container"><div id="map"></div></div>
          </div>
        </div>
      </main>
      <footer>
        <div class="wrapper">
          <div class="column">
            <h2>Site</h2>
            <a href="/about">About</a>
            <a href="/models">Models</a>
            <a href="/notebooks">Notebooks</a>
            <a href="/research">Research</a>
          </div>
          <div class="column">
            <h2>Links</h2>
            <a href="https://arxiv-sanity-lite.com">Arxiv Sanity</a>
            <a href="https://paperswithcode.com">Papers With Code</a>
            <a href="https://midjourney.com">Midjourney</a>
            <a href="https://openai.com">OpenAI</a>
          </div>
          <div class="column">
            <h2>Self</h2>
            <a href="https://github.com/tjwhitaker">Github</a>
            <a href="https://scholar.google.com/citations?user=Rb-16TYAAAAJ&hl=en">Scholar</a>
            <a href="https://orcid.org/0000-0003-3792-3901">Orcid</a>
          </div>
        </div>
      </footer>
      <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      <script src="/static/home-feed.js"></script>
      <script>
        mapboxgl.accessToken =
          "pk.eyJ1IjoidG13aHRrciIsImEiOiJja2x2NzdpaW0wNXRnMndwOGszNTc3aWd5In0.LvJ2znCQ_1v9a86fxUhQ2A"
        var map = new mapboxgl.Map({
          container: "map", // container id
          style: "mapbox://styles/mapbox/streets-v12", // style URL
          center: [-121.4944, 38.5816],
          zoom: 11, // starting zoom
        })
      </script>
    </div>
  </body>
</html>
