<!DOCTYPE html>
<html>
  <head>
    <title>Dead Neurons</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&amp;display=block"
    />
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
  </head>
  <body>
    <div class="home">
      <header>
        <div class="wrapper">
          <a href="/" class="logo"><img src="/static/logo.svg" /></a>
          <nav>
            <a href="/about">About</a>
            <a href="/publications">Publications</a>
            <a href="/models">Models</a>
            <a href="/notebooks">Notebooks</a>
          </nav>
        </div>
      </header>
      <main>
        <div class="hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h1>
              Learn How To<br />
              Build Better<br />
              Neural Networks
            </h1>
            <p>
              Welcome to Dead Neurons! This is my personal website, a repository
              for neural network research, and an outlet for digging deeper into
              artificial intelligence.
            </p>
          </div>
        </div>
        <div id="react-test"></div>
        <div class="notebooks wrapper">
          <div class="filters">
            <nav class="categories">
              <a href="#." class="active">All</a
              ><a href="#architecture">Architecture</a
              ><a href="#compression">Compression</a
              ><a href="#evolution">Evolution</a
              ><a href="#optimization">Optimization</a>
              <a href="#regularization">Regularization</a>
            </nav>
            <nav class="mobile-categories"><h1>Recent Posts</h1></nav>
          </div>
          <div class="primary-col">
            {% for post in context[:2] %}
            <div class="post {{categories}}">
              <small>{{ post.data.date }}</small>
              <h1>{{ post.data.title }}</h1>
              <p>{{ post.data.description }}</p>
              <a href="{{ post.data.slug }}">Read More</a>
            </div>
            {% endfor %}
          </div>
          <div class="secondary-col">
            {% for post in context[2:6] %}
            <div class="post">
              <small>{{ post.data.date }}</small>
              <h1>{{ post.data.title }}</h1>
              <a href="{{ post.data.slug }}">Read More</a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="featured-paper subnetwork-ensembles">
          <div class="wrapper">
            <div>
              <h2>Featured Publication</h2>
              <h1>Subnetwork Ensembles</h1>
              <p>
                Neural network ensembles have been effectively used to improve
                generalization by combining the predictions of multiple
                independently trained models. However, the growing scale and
                complexity of deep neural networks have led to these methods
                becoming prohibitively expensive and time consuming to
                implement. Low-cost ensemble methods have become increasingly
                important as they can alleviate the need to train multiple
                models from scratch while retaining the generalization benefits
                that...
              </p>
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="wrapper">
          <div class="column">
            <h2>Site</h2>
            <a href="/about">About</a>
            <a href="/models">Models</a>
            <a href="/notebooks">Notebooks</a>
            <a href="/research">Research</a>
          </div>
          <div class="column">
            <h2>Links</h2>
            <a href="https://arxiv-sanity-lite.com">Arxiv Sanity</a>
            <a href="https://paperswithcode.com">Papers With Code</a>
            <a href="https://midjourney.com">Midjourney</a>
            <a href="https://openai.com">OpenAI</a>
          </div>
          <div class="column">
            <h2>Self</h2>
            <a href="/cv">CV</a>
            <a href="https://github.com/tjwhitaker">Github</a>
            <a href="https://lichess.org/@/tjwhitaker">Lichess</a>
            <a href="https://orcid.org/0000-0003-3792-3901">Orcid</a>
          </div>
        </div>
      </footer>
      <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      <script src="/static/react-home-feed.js"></script>
      <script>
        mapboxgl.accessToken =
          "pk.eyJ1IjoidG13aHRrciIsImEiOiJja2x2NzdpaW0wNXRnMndwOGszNTc3aWd5In0.LvJ2znCQ_1v9a86fxUhQ2A"
        var map = new mapboxgl.Map({
          container: "map", // container id
          style: "mapbox://styles/mapbox/streets-v12", // style URL
          center: [-105.08338969999998, 40.57471313740658],
          zoom: 11, // starting zoom
        })
      </script>
    </div>
  </body>
</html>
