<!DOCTYPE html>
<html>
  <head>
    <title>Dead Neuron</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&amp;display=block"
    />
  </head>
  <body>
    <div class="home">
      <header>
        <div class="wrapper">
          <a href="/" class="logo"><img src="/static/logo.svg" /></a>
          <nav>
            <a href="/about">About</a>
            <a href="/publications">Publications</a>
            <a href="/models">Models</a>
            <a href="/notebooks">Notebooks</a>
          </nav>
        </div>
      </header>
      <main>
        <div class="hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h1>
              A Stochastic Gradient <br/> Descent Into Madness
            </h1>
            <p>
              Welcome to Dead Neuron! We're sharing insights, tips, and tricks
              for making the most of your machine learning models. Read on to
              explore our articles and research on neural network optimization.
            </p>
          </div>
        </div>
        <div id="react-feed">
          <div class="feed wrapper">
            <div class="filters">
              <nav class="categories">
                <span class="active">All</span><span>Architecture</span
                ><span>Compression</span><span>Optimization</span
                ><span>Regularization</span>
              </nav>
              <nav class="mobile-categories"><h1>Recent Posts</h1></nav>
            </div>
            <div class="primary-col">
              {% for post in context[:2] %}
              <div class="post">
                <small class="date">{{ post.data.date }}</small>
                <small class="categories">{{ post.data.categories }}</small>
                <h1 class="title">{{ post.data.title }}</h1>
                <p class="description">{{ post.data.description }}</p>
                <a href="{{ post.data.slug }}">Read More</a>
              </div>
              {% endfor %}
            </div>
            <div class="secondary-col">
              {% for post in context[2:6] %}
              <div class="post">
                <small class="date">{{ post.data.date }}</small>
                <small class="categories">{{ post.data.categories }}</small>
                <h1 class="title">{{ post.data.title }}</h1>
                <p class="description">{{ post.data.description }}</p>
                <a href="{{ post.data.slug }}">Read More</a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="featured-paper subnetwork-ensembles">
          <div class="wrapper">
            <div>
              <h2>Featured Publication</h2>
              <h1>Subnetwork Ensembles</h1>
              <p>
                Neural network ensembles have been effectively used to improve
                generalization by combining the predictions of multiple
                independently trained models. However, the growing scale and
                complexity of deep neural networks have led to these methods
                becoming prohibitively expensive and time consuming to
                implement. Low-cost ensemble methods have become increasingly
                important as they can alleviate the need to train multiple
                models from scratch while retaining the generalization benefits
                that...
              </p>
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="wrapper">
          <div class="column">
            <h2>Site</h2>
            <a href="/about">About</a>
            <a href="/models">Models</a>
            <a href="/notebooks">Notebooks</a>
            <a href="/research">Research</a>
          </div>
          <div class="column">
            <h2>Links</h2>
            <a href="https://arxiv-sanity-lite.com">Arxiv Sanity</a>
            <a href="https://paperswithcode.com">Papers With Code</a>
            <a href="https://midjourney.com">Midjourney</a>
            <a href="https://openai.com">OpenAI</a>
          </div>
          <div class="column">
            <h2>Self</h2>
            <a href="/cv">CV</a>
            <a href="https://github.com/tjwhitaker">Github</a>
            <a href="https://lichess.org/@/tjwhitaker">Lichess</a>
            <a href="https://orcid.org/0000-0003-3792-3901">Orcid</a>
          </div>
        </div>
      </footer>
      <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      <script src="/static/home-feed.js"></script>
    </div>
  </body>
</html>
