<!DOCTYPE html>
<html>
  <head>
    <title>Models | Dead Neurons</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/models.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&amp;display=block"
    />
  </head>
  <body>
    <div class="home">
      <header>
        <div class="wrapper">
          <a href="/" class="logo"><img src="/static/logo.svg" /></a>
          <nav>
            <a href="/about">About</a>
            <a href="/publications">Publications</a>
            <a href="/models">Models</a>
            <a href="/notebooks">Notebooks</a>
          </nav>
        </div>
      </header>
      <main>
        <div class="hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h1>Models</h1>
            <p>
              Highlighting some of the most interesting and impactful neural network architectures throughout the history of artificial intelligence research.
            </p>
          </div>
        </div>
        <div id="react-feed">
          <div class="catalog wrapper">
            <div class="filters">
              <nav class="categories">
                <span class="active">All</span><span>Attention</span
                ><span>Convolutional</span><span>Energy</span
                ><span>Fully Connected</span><span>Recurrent</span>
              </nav>
            </div>
            {% for model in context %}
            <div class="item">
              <div class="content">
                <h1>{{ model.data.name }} ({{ model.data.year }})</h1>
                <p><small>{{ model.data.authors }}</small></p>
                <p>{{ model.data.description }}</p>
                <div class="links">
                  <a href="{{ model.data.slug }}">Read More</a
                  ><a href="{{ model.data.paper }}">Paper</a>
                </div>
              </div>
              {% if model.data.image %}
              <div class="image">
                <img src="{{ model.data.image }}" />
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </main>
      <script src="/static/prism.js"></script>
      <script src="/static/prism-python.min.js"></script>
      <script src="/static/prism-julia.min.js"></script>
      <footer>
        <div class="wrapper">
          <div class="column">
            <h2>Site</h2>
            <a href="/about">About</a><a href="/models">Models</a
            ><a href="/notebooks">Notebooks</a><a href="/research">Research</a>
          </div>
          <div class="column">
            <h2>Links</h2>
            <a href="https://arxiv-sanity-lite.com">Arxiv Sanity</a
            ><a href="https://paperswithcode.com">Papers With Code</a
            ><a href="https://midjourney.com">Midjourney</a
            ><a href="https://openai.com">OpenAI</a>
          </div>
          <div class="column">
            <h2>Self</h2>
            <a href="/cv">CV</a
            ><a href="https://github.com/tjwhitaker">Github</a
            ><a href="https://lichess.org/@/tjwhitaker">Lichess</a
            ><a href="https://orcid.org/0000-0003-3792-3901">Orcid</a>
          </div>
        </div>
      </footer>
      <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      <script src="/static/models-feed.js"></script>
    </div>
  </body>
</html>
