<!DOCTYPE html>
<html>
  <head>
    <title>Dead Neuron</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.svg" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/shop.css" />
    <!--     <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&amp;display=block"
    /> -->
  </head>
  <body>
    <div class="home">
      <header>
        <div class="wrapper">
          <div class="container">
            <!-- <a href="/" class="logo"><img src="/static/logo.svg" /></a> -->
            {% include 'logo.html' %}
            <nav>
              <!-- <a href="/about">About</a> -->
              <a href="/architectures">Architectures</a>
              <a href="/notebooks">Notebooks</a>
              <a href="/publications">Publications</a>
              <a href="/shop">Shop</a>
            </nav>
          </div>
        </div>
      </header>
      <main>
        <div class="hero">
          <div class="overlay"></div>
          <div class="wrapper">
            <h2>Coming Soon...</h2>
            <h1>Algorithmic Apparel</h1>
            <p>
              This website is a labor of love. Consider buying some gear to help
              us keep the lights on. Check out some of these hand and machine
              designed shirts, stickers, and prints.
            </p>
          </div>
        </div>

        <div class="products">
          <div class="wrapper">
            <div class="item">
              <div class="content">
                <h1>Logo Tee</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
                <h2>$25</h2>
                <button>Buy</button>
              </div>
              <div class="gallery">
                <img src="/static/shirt-black.png" />
              </div>
            </div>
            <!--             <div class="item">
              <div class="content">
                <h1>Skull Sweater</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h2>$60</h2>
                <button>Buy</button>
              </div>
              <div class="gallery">
                <img src="/static/sweater-black.png">
              </div>
            </div>
 -->
          </div>
        </div>

        <!--         <div class="shirts">
          <div class="wrapper">
           <h1>Shirts</h1>
            <div class="grid">
              {% set a = [
              "https://wearebraindead.com/cdn/shop/files/New_Dimensions_LS_T-Shirt_Grey_Front_optimized.jpg?v=1697503013&width=1024",
              "https://wearebraindead.com/cdn/shop/files/postal_service_black_front_opt.jpg?v=1702070607&width=1024",
              "https://wearebraindead.com/cdn/shop/files/Lost_In_Translation_x_Brain-Dead_Karaoke_T-shirt_Natural_Front_opt.jpg?v=1705427400&width=1024",
              "https://wearebraindead.com/cdn/shop/files/Infinite_Gestures_T-Shirt_Slate_Front_optimized.jpg?v=1706582461&width=1024",
              "https://wearebraindead.com/cdn/shop/files/Electronique_Hoodie_Navy_Front_optimized_81cf256b-f9ae-4203-9f16-ebcb6ff026e0.jpg?v=1694120068&width=1024",
              "https://wearebraindead.com/cdn/shop/files/Electronique_Hoodie_Black_Front_optimized_7a3940fd-1bc5-4117-8ddc-3edb544ffe75.jpg?v=1694120030&width=1024",
              "https://wearebraindead.com/cdn/shop/products/Log_ohe_ad__Bea_nie__Evergreen_Gold_Front_optimized.jpg?v=1677017781&width=1024",
              "https://wearebraindead.com/cdn/shop/products/Log_ohe_ad__Bea_nie__R_ed_Heather_Front_optimized.jpg?v=1677018698&width=1024",] %}
              {% for i in range(16) %}
              <div class="item">
                <div class="photo">
                  <img class="" src="{{a[i%(a|length)]}}" />
                </div>
                <h2>Logo Tee</h2>
                <p>$35</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div> -->

        <!-- <div class="prints">
          <div class="wrapper">
            <h1>Prints</h1>
            <div class="grid">
              <div class="item">
                <img src="/static/talk.jpg" alt="" />
              </div>
              <div class="item">
                <img src="/static/highball.jpg" alt="" />
              </div>
              <div class="item">
                <img src="/static/ceremony.jpg" alt="" />
              </div>
              <div class="item">
                <img src="/static/midnight.jpg" alt="" />
              </div>
              <div class="item">
                <img src="/static/nice-bridge.jpg" alt="" />
              </div>
              <div class="item">
                <img src="/static/pimpjuice.jpg" alt="" />
              </div>
              <div class="item">
                <img src="/static/evilution.jpg" alt="" />
              </div>
            </div>
          </div>
        </div> -->
      </main>
      <footer>
        <div class="wrapper">
          <div class="column">
            <h2>Site</h2>
            <a href="/about">About</a>
            <a href="/models">Models</a>
            <a href="/notebooks">Notebooks</a>
            <a href="/research">Research</a>
          </div>
          <div class="column">
            <h2>Links</h2>
            <a href="https://arxiv-sanity-lite.com">Arxiv Sanity</a>
            <a href="https://paperswithcode.com">Papers With Code</a>
            <a href="https://midjourney.com">Midjourney</a>
            <a href="https://openai.com">OpenAI</a>
          </div>
          <div class="column">
            <h2>Self</h2>
            <a href="https://github.com/tjwhitaker">Github</a>
            <a
              href="https://scholar.google.com/citations?user=Rb-16TYAAAAJ&hl=en"
              >Scholar</a
            >
            <a href="https://orcid.org/0000-0003-3792-3901">Orcid</a>
          </div>
        </div>
      </footer>
      <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      <script src="/static/home-feed.js"></script>
    </div>
  </body>
</html>
