html {
  body {
    .hero {
      background-image: url(/static/cave-bg.png);
    }
    .feed {
      padding:2rem 1rem 5rem 1rem;
      .filters {
        border-bottom: 1px solid #ddd;
        .categories {
          padding-bottom:2rem;
          span {
            font-family:"Open Sans";
            font-size:1.2rem;
            text-transform:uppercase;
            text-decoration: none;
            margin-right:2rem;
            color:#aaa;

            &.active, &:hover {
              color: red;
              cursor:pointer;
            }
          }
          @media screen and (max-width:600px) {
            display:none;
          }
        }
        .mobile-categories {
          display:none;
          padding-bottom:2rem;

          @media screen and (max-width:600px) {
            display:block;
          } 
        }
      }
      .post {
        background: white;
        padding: 5rem 0;
        
        h1 {
          font-family: "Open Sans";
          font-size: 2.4rem;
        }

        .read-more {
          display: inline-block;
          margin: 1rem 0;
          color: black;
          font-family: "Open Sans";
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 0.8rem;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #f7f7f7;
        }
      }
    }
  }
}
