html {

  body {
    .hero {
      background-image: url(/static/mountain-bg.png);
    }

    .products {
      .wrapper {
        .grid {
          display:flex;
          flex-wrap:wrap;

          .item50 {
            flex:0 0 48%;
            margin:1rem;
            background: #ddd;
          }
          .item33 {
            flex:0 0 30%;
            margin:1rem;
            padding:1rem;
            background: #ddd;
          }
        }
      }
    }
  }
}